---
layout: receta
title: Archive

img-archive: archive-back

img-tag: oatmeal-back

img-workout-gear: 
    - archive-workout-pullup-back
    - archive-workout-nothing-back
    - archive-workout-ledge-back

img-size:
    default: -default.jpg
    large: -large.jpg
    
---
    <div class="wrap" 
        type="image/jpg" 
        data-interchange="[{{site.baseurl}}/img/{{page.title | downcase }}-1024w.jpg, (only screen and (min-width: 1px))],
        [{{site.baseurl}}/img/{{page.title | downcase }}-1440w.jpg, (only screen and (min-width: 1025px))],
        [{{site.baseurl}}/img/{{page.title | downcase }}-1920w.jpg, (only screen and (min-width: 1441px))]">
    
    
                                     
            <div class="row main">
                <div class="small-12 columns">
                    <!-- ACCORDION AND TAB MENU -->
                    <dl class="tabs" data-tab>
                        <dd class="medium-4 columns active"><a href="#panel-tag"><span class="italic">POR </span> ETIQUETA</a></dd>
                        <dd class="medium-4 columns"><a href="#panel-date"><span class="italic">POR</span> FECHA</a></dd>
                        <dd class="medium-4 columns"><a href="#panel-menu"><span class="italic">POR</span> MENÚ</a></dd>
                    </dl>
                </div> 
            </div>   
        
    </div>


<!-- TAB CONTENT -->

    <div class="tabs-content">
        <div class="content row active" id="panel-tag">
                {% for tag in site.tags %}
                <div class="main">
                {% assign currentTag = tag | first %}
                <h2>{{ currentTag | upcase}}</h2>
                {% for post in site.posts %}
                    {% if post.tags contains currentTag %}
                    <ul>
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    </ul>
                    {% endif %}
                {% endfor %}
                </div>
                {% endfor %}
        </div>
        <div class="content" id="panel-date">     
            <!-- RECIPES ORDERED BY DATE -->
            <ul class="main">
            {% for post in site.posts %}
                {% capture currentyear %}{{post.date | date: "%B %Y"}}{% endcapture %}
                {% if currentyear != year %}
                    {% unless forloop.first %}{% endunless %}
                    <h2>{{ currentyear }}</h2>                             
                    {% capture year %}{{currentyear}}{% endcapture %} 
                {% endif %} 
                   <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>          
            {% endfor %}
            </ul>                                                                     
        </div>     
        <div class="content" id="panel-menu">     
            <!-- RECIPES ORDERED BY MENU -->
            <ul class="main">
            {% for menu in site.data.menu %}
                <h2>{{ menu }}s</h2>
            {% assign menu-site = menu %}
                <ul>
                {% for post in site.posts %}
                    {% if post.menu == menu-site %}
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %} 
                </ul>
            {% endfor %}
        </div>     
    </div>
