---
title: Recetas
layout: default-blog
categories: blog
---

<div id="grid" data-columns> 

{% for post in paginator.posts %}
    <div class="preview"> 
        <a class="" href="{{ site.baseurl }}{{ post.url }}">
            <img data-sizes="auto"
            class="lazyload" 
            src="{{site.baseurl}}/img/500/{{post.img}}.jpg"
            data-srcset="{{site.baseurl}}/img/500/{{post.img}}.jpg 500w,
            {{site.baseurl}}/img/640/{{post.img}}.jpg 640w,
            {{site.baseurl}}/img/970/{{post.img}}.jpg 970w"
            alt="{{ post.title }}" />
            <h3>{{ post.title | upcase }}</h3>
            {% capture postdate %}
            {% assign m = post.date | date: "%-m" | minus: 1 %}
            {{ post.date | date :"%-d" }} {{ site.data.months[m] }} {{ post.date | date: "%Y" }}
            {% endcapture %}
            <span class="date">{{ postdate }}</span>
        </a>
    </div>
{% endfor %}

</div>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<hr>
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Nuevas Recetas &rarr;</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Viejas Recetas</a>
    </li>
    {% endif %}
</ul>
{% endif %}
