{% if page.img %}
    <div class="wrap-bottom" 
        type="image/jpg" 
        data-interchange="[{{site.baseurl}}/img/back/1024/{{page.img}}.jpg, (only screen and (min-width: 1px))],
        [{{site.baseurl}}/img/back/1440/{{page.img}}.jpg, (only screen and (min-width: 1025px))],
        [{{site.baseurl}}/img/back/1920/{{page.img}}.jpg, (only screen and (min-width: 1441px))]">
        
        <div class="footer-posts" role="contentinfo">
            <div class="large-12 columns">
                <h2>RECETAS RECOMENDADAS</h2>
                <div class="owl-carousel owl-related-posts">
                    {% for post in site.posts %}
                        {% if post.title != page.title %}
                            {% assign sameTagCount = 0 %}
                            {% assign commonTags = '' %}
                            {% for tag in post.tags %}
                                {% if page.tags contains tag %}
                                    {% assign sameTagCount = sameTagCount | plus: 1 %}
                                    {% capture tagmarkup %} <span class="label-inverse">{{ tag }}</span> {% endcapture %}
                                    {% assign commonTags = commonTags | append: tagmarkup %}
                                {% endif %}
                            {% endfor %}
                            {% if sameTagCount >= 1 %}
                                <div>   
                                    <a href="{{ site.baseurl }}{{ post.url }}">
                                        <img data-sizes="auto"
                                            class="lazyload related-post-preview" 
                                            src="{{site.baseurl}}/img/500/{{post.img}}.jpg"
                                            data-srcset="{{site.baseurl}}/img/500/{{post.img}}.jpg 500w,
                                            {{site.baseurl}}/img/640/{{post.img}}.jpg 640w,
                                            {{site.baseurl}}/img/970/{{post.img}}.jpg 970w"
                                            alt="{{ post.title }}" />
                                        <h5>{{ post.title }}</h5>
                                    </a>
                                </div>              
                            {% endif %}
                        {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>     
    </div>
{% endif %}
