
<div itemscope itemtype="http://schema.org/Recipe">
    {% if page.img %}
    <div class="wrap" 
        type="image/jpg" 
        data-interchange="[{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-480w.jpg, (only screen and (min-width: 1px))],
        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-768w.jpg, (only screen and (min-width: 481px))],
        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-1024w.jpg, (only screen and (min-width: 769px))],
        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-1440w.jpg, (only screen and (min-width: 1025px))],
        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-1600w.jpg, (only screen and (min-width: 1441px))],
        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-1920w.jpg, (only screen and (min-width: 1601px))]">
    
    
    {% endif %}
        <div class="row">
            <div class="medium-6 columns">
                <h2><span itemprop="name">{{ page.title | upcase }}</span></h2>
                <div class="row">
                    <div class="medium-6 columns">
                        <ul>
                            <li itemprop="recipeYield"><span ><div class="sublist-italic">Menú</div><h5>{{ page.menu | capitalize }}</h5></li>
                          {% if page.tiempo %}
                            <li itemprop="recipeYield"><span ><div class="sublist-italic">Duración</div><h5><meta itemprop="totalTime" content="PT5M">{{ page.tiempo }}</meta></h5></span></li>
                          {% endif %}
                          {% if page.comensales %}
                           <li itemprop="recipeYield"><span ><div class="sublist-italic">Comensales</div><h5> {{ page.comensales }}</h5></span></li>
                          {% endif %}
                        </ul>
                    </div>
                    <div class="medium-6 columns">
                        <ul>
                            <li><div class="sublist-italic">Etiquetado como</div><h5 itemprop="description">{{ page.tags | join: ', ' }}</h5></li>
                        </ul>
                    </div>
                </div>                  
            </div>        
                       
            <div class="medium-6 columns">
                {% if page.img %}
                <a href="#anker-impressions">
                    <div class="img-wrap" 
                        type="image/jpg" itemprop="image" 
                        data-interchange="[{{site.baseurl}}/img/{{page.img}}/{{page.img}}-240w.jpg, (only screen and (min-width: 1px))],
                        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-320w.jpg, (only screen and (min-width: 241px))],
                        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-500w.jpg, (only screen and (min-width: 321px))],
                        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-640w.jpg, (only screen and (min-width: 501px))],
                        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-800w.jpg, (only screen and (min-width: 641px))],
                        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-970w.jpg, (only screen and (min-width: 801px))]">
                    </div>
                </a>              
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row main">
        <br>
        <div class=" medium-6 columns">
            <h3>Ingredientes</h3>
            {% if page.Ingredientes[0] %}
                <ul>
                {% for ingredient in page.Ingredientes %}
                    <li itemprop="ingredients">{{ ingredient }}</li>
                {% endfor %}
                </ul>
            {% else %}
              {% for part in page.Ingredientes %}         
                  <div class="sublist-italic">{{ part[0] }}</div>
                  <ul>
                  {% for ingredient in part[1] %}
                      <li itemprop="ingredients">{{ ingredient }}</li>
                  {% endfor %}
                  </ul>
              {% endfor %}
            {% endif %}
        </div>
        <div class="medium-6 columns">   
          <h3>Pasos</h3>
          <div class="sublist-italic" align="left">
            <ol>
              {% for step in page.Pasos %}
                <li itemprop="recipeInstructions">{{ step }}</li>
              {% endfor %}
            </ol>
          </div>
        </div>
    </div>
    
    {% if page.Notas %}
    <div class="row main">
        <div class="small-12 columns">
            <h3>Notas</h3>
            <p>{{ page.Notas }}</p>
        </div>
    </div>
    {% else %}
    <br/><br/>
    {% endif %}
    
    <div class="row main">
        <div class="small-12 columns">
             <a name="anker-impressions"></a>
	        <br/>
                <img data-sizes="auto"
                    class="lazyload impressions" 
                    src="{{site.baseurl}}/img/{{page.img}}/{{page.img}}-240w.jpg"
                    data-srcset="{{site.baseurl}}/img/{{page.img}}/{{page.img}}-240w.jpg 240w,
                    {{site.baseurl}}/img/{{page.img}}/{{page.img}}-320w.jpg 320w,
                    {{site.baseurl}}/img/{{page.img}}/{{page.img}}-500w.jpg 500w,
                    {{site.baseurl}}/img/{{page.img}}/{{page.img}}-640w.jpg 640w,
                    {{site.baseurl}}/img/{{page.img}}/{{page.img}}-800w.jpg 800w,
                    {{site.baseurl}}/img/{{page.img}}/{{page.img}}-970w.jpg 970w"
                    alt="{{ page.title }}" />
        </div>   
             
        <div class="small-12 columns hide-for-print">
            {% if page.comments == true %}
                <h3>Comment</h3>
            {% include disqus.html %}
            {% endif %}
        </div>
    </div>
</div>
